﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterAdministrador.master" AutoEventWireup="true" CodeFile="ingre.aspx.cs" Inherits="ingre" %>

<asp:Content ID="Content1" ContentPlaceHolderID="contenido" runat="Server">


    <div class="row">
        <div class="col-md-12">
            <!-- Shopping Cart Items -->
            <table class="shopping-cart">
                <!-- Shopping Cart Item -->
                <tr>
                    <!-- Shopping Cart Item Description & Features -->
                    <td>
                        <div class="cart-item-title">CAPUCHINO</div>

                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="cart-item-title">CAPUCHINO</div>

                    </td>



                </tr>
                <tr>
                    <!-- Shopping Cart Item Description & Features -->
                    <td>
                        <div class="cart-item-title">CAPUCHINO</div>

                    </td>

                </tr>
            </table>
           

        </div>
    </div>

</asp:Content>

