﻿<%@ Master Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="MasterAdministrador.master.cs" Inherits="MasterAdministrador" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="content" runat="Server">

    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Administrador</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-sm-2 blog-sidebar">
                    <h4>Menus</h4>
                    <ul class="blog-categories">
                        <li><a href="admin.aspx">Productos</a></li>
                        <li><a href="arteAdmin.aspx">Artes</a></li>
                        <%--<li><a href="ingre.aspx">Ingredientes</a></li>--%>
                    </ul>
                </div>
                <!-- End Sidebar -->
                <div class="col-sm-10">
                    <asp:ContentPlaceHolder ID="contenido" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
    </div>

</asp:Content>

